.DS_Store
.coverage*
.dockerignore
.editorconfig
.env
.flake8
.git/
.github/
.idea/
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache/
CHANGELOG.md
MANIFEST.in
Pulumi.yaml
catalog-info.yaml
coverage/
deploy/
docker-compose.yml
sample.env
sonar-project.properties
src/arti_ai.egg-info/
test-report.xml
tests/
venv/
