/.coverage
/.env
/.idea/
/.mypy_cache/
/.pulumi/
/.pytest_cache/
/.vscode/
/assets/*
!/assets/.gitkeep
/coverage/
/dist/
/src/*.egg-info/
/test-report.xml
/venv/
**/__pycache__/
.DS_Store
.coverage*
q