autopep8
bandit
black
debugpy
flake8
flake8-bugbear
flake8-comprehensions
flake8-docstrings
flake8-pyi
flake8-simplify
mccabe
mypy
pep8-naming
pip-audit
pulumi
pulumi-aws
pulumi-docker
pylint
pytest
pytest-cov
pytest-dotenv
types-toml
types-urllib3
watchdog[watchmedo]
